@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*--------------------------------- Custom Properties ---------------------------------*/

:root {
  --clr-primary: #000000;
  --clr-accent: #383838;
  --clr-minor: #777777;
  --clr-theme: #e74040;
  --clr-bg: #f9f9f9;
  --clr-formFirst: rgba(93, 146, 220, 1);
  --clr-formInput: rgba(84, 208, 94, 0.959);
  --clr-formBorder: rgba(238, 241, 251, 0.911);
  --ff-primary: "Poppins", sans-serif;
  --ff-accent: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.circle-style-red {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23e74040' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.graph-paper {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23777777' fill-opacity='0.11'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.texture {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ddd8d8' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.stripe {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234e3c3c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.diagonal-line {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* ------------------------ nav start ------------------------*/

.logo {
  width: max(40px, 2.5vw);
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
  background: rgb(208, 208, 208);
  position: relative;
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-right: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.link-effect {
  position: relative;
}

.link-effect::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: var(--clr-theme);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.link-effect:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background: var(--clr-bg);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background: rgb(208, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-in;
    margin-right: 0px;
    z-index: 100;
    display: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-active {
    display: flex;
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------ nav end ------------------------*/

/* ------------------------ disclaimer ------------------------*/

.disclaimer {
  padding: 1rem 0;
  width: 100%;
  background: var(--clr-primary);
  text-align: center;
  color: white;
}

/* ------------------------ graphic ------------------------*/

.container {
  padding: 40px 0;
}

.fixed-width {
  width: max(380px, 60%);
  margin: 40px auto;
}

.bold-title {
  font-size: max(3vw, 2rem);
  margin-bottom: 30px;
}

.image-grid-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  margin-bottom: 60px;
}

.content {
  width: 100%;
}

.img-holder {
  overflow: hidden;
  position: relative;
}

.img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 200ms ease-in;
  position: relative;
  display: block;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 64, 64, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: 10px;
}

.overlay > * {
  transform: translateY(40px);
  transition: transform 0.2s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0);
}

.img_title {
  font-size: max(2vw, 2rem);
  font-weight: bold;
  text-align: center;
  font-family: "Noto Sans HK", sans-serif;
  color: white;
}

@media screen and (max-width: 540px) {
  .fixed-width {
    width: max(380px, 60%);
    margin: 40px auto;
  }

  .image-grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-content: center;
    margin-bottom: 60px;
  }
}
