@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*--------------------------------- Custom Properties ---------------------------------*/

:root {
  --clr-primary: #000000;
  --clr-accent: #383838;
  --clr-minor: #777777;
  --clr-theme: #e74040;
  --clr-bg: #f9f9f9;
  --clr-formFirst: rgba(93, 146, 220, 1);
  --clr-formInput: rgba(84, 208, 94, 0.959);
  --clr-formBorder: rgba(238, 241, 251, 0.911);
  --ff-primary: "Poppins", sans-serif;
  --ff-accent: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

.circle-style-red {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23e74040' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.graph-paper {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23777777' fill-opacity='0.11'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.texture {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ddd8d8' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.stripe {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234e3c3c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.diagonal-line {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* ------------------------ nav start ------------------------*/

.logo {
  width: max(40px, 2.5vw);
  margin-left: 20px;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
  align-content: center;
  background: rgb(47, 46, 46);
  position: relative;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-right: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.link-effect {
  position: relative;
}

.link-effect::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: var(--clr-theme);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.link-effect:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background: var(--clr-bg);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background: rgb(47, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-in;
    margin-right: 0px;
    z-index: 100;
    display: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-active {
    display: flex;
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------ nav end ------------------------*/

/* ------------------------ hero ------------------------*/

.hero-container {
  position: relative;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  overflow: hidden;
}

.greet {
  font-size: max(5vw, 3rem);
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  left: 20%;
  bottom: 40%;
  z-index: 3;
}

.sub-greet {
  font-size: max(2vw, 1.2rem);
  position: absolute;
  left: 20%;
  bottom: 35%;
  z-index: 3;
}

.white-circle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(500px, 10vw);
  height: max(500px, 10vw);
  background-color: white;
  border-radius: 50%;
}

.circle-hero {
  position: absolute;
  bottom: 10%;
  right: 20%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  z-index: 2;
  background-color: white;
  transform: rotate(-45deg);
}

.scroll-text {
  position: absolute;
  right: 20px;
  bottom: 20px;
  writing-mode: vertical-rl;
  color: var(--clr-minor);
  animation: MoveUpDown 3s linear infinite;
}

.scroll-text a {
  text-decoration: none;
  color: var(--clr-minor);
}

/* ------------------------ about-me ------------------------*/

.about-me {
  position: relative;
  padding: 80px 0;
}

.fixed-width {
  width: max(380px, 60%);
  margin: 40px auto;
}

.profile-grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 1200px) and (min-width: 683px) {
  .profile-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.profile {
  width: 90%;
  margin: 0 auto 20px;
}

.intro h3 {
  font-size: 1.5rem;
  margin: 0 0 20px 20px;
  border-bottom: 2px solid var(--clr-theme);
}

.intro p {
  padding: 0px 20px;
  line-height: 2rem;
}

/* ------------------------ work ------------------------*/

.my-work {
  position: relative;
  background: rgb(208, 208, 208);
  padding: 80px 20px;
}

.bold-title {
  font-size: max(3vw, 3rem);
  margin-bottom: 30px;
}

.work-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 2180px) and (min-width: 1606px) {
  .work-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .my-work {
    background: red;
  } */
}

@media screen and (max-width: 2180px) and (min-width: 1920px) {
  .work-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  /* .my-work {
      background: green;
    } */
}

.work-icon {
  width: 60%;
  margin: 20px auto;
}

.card {
  /* background: white; */
  background-image: url("./img/paper_texture.jpg");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 30px rgba(133, 118, 118, 0.3);
}

.card h3 {
  font-size: 1.5rem;
  margin: 15px 30px 15px;
}

.card p {
  margin: 0 30px 30px;
  border-top: 2px solid var(--clr-theme);
  padding-top: 20px;
}

/* ------------------------ Skill ------------------------*/

.my-skill {
  position: relative;
  padding: 80px 20px;
}

.my-skill p {
  line-height: 2rem;
}

.skill-grid-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-content: center;
  margin: 60px 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sub-text {
  font-size: 0.8rem;
  text-align: center;
}

/* ------------------------ form ------------------------*/

footer {
  background: var(--clr-primary);
  color: white;
}

footer .bold-title {
  text-align: center;
  padding-top: 80px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form-input {
  padding: 1rem 0.75rem;
  border: 0.5px solid white;
  border-radius: 0.2rem;
  margin: 1rem 0;
  background: none;
  color: white;
  font-size: 1rem;
}

.form-input:focus {
  border: 1px solid var(--clr-formFirst);
}

.form-label {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  background: var(--clr-primary);
  padding: 0 0.5rem;
}

.form-button {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  font-family: inherit;
  font-weight: 600;
}

.disclaimer {
  padding: 1rem 0;
  width: 100%;
  background: var(--clr-primary);
  text-align: center;
}
